<a id="indices" style="color: lightgrey; height: 80%">
</a>

<script>

    let elements = document.getElementsByClassName("main-content")[0].getElementsByTagName("h1")
    var menu = "<ul>"

    for (let i = 0; i < elements.length; i++) {
        const ele = elements[i]
        if (ele.id === "") continue
        menu += "<li>\n"

        menu += "::marker\n"
        menu += "<a style=\"font-size: 1em; font-weight: bolder\" href=\"#"
        menu += ele.id
        menu += "\">"
        menu += ele.innerText
        menu += "</a>"

        let sub = ele.getElementsByTagName("h2")
        if (sub.length === 0) continue

        menu += "<ul>"

        for (let j = 0; j < sub.length; j++) {
            const subele = sub[j]
            if (subele.id === "") continue
            menu += "<li>\n"
            menu += "::marker\n"
            menu += "<a style=\"font-size: .83em; font-weight: bolder\" href=\"#"
            menu += subele.id
            menu += "\">"
            menu += subele.innerText
            menu += "</a></li>"
        }
        menu += "</ul></li>"
    }

    menu += "</ul>"
    document.getElementById("indices").innerText = menu

</script>

