<div id="indices" style="color: lightgrey; height: 80%">
</div>

<script>

    function init_list() {
        let elements = document.getElementsByClassName("main-content")[0].querySelectorAll("h1, h2")
        let flag = false
        var menu = "<ul>"

        for (let i = 0; i < elements.length; i++) {
            const ele = elements[i]
            if (ele.id === "") continue

            if (ele.tagName.toLowerCase() === "h1") {
                if (flag) {
                    menu += "</ul>"
                    flag = false
                }
                menu += "<li><a style=\"font-size: 1em; font-weight: bolder\" href=\"#" + ele.id + "\">"
                menu += ele.innerText
                menu += "</a></li>"
            } else if (ele.tagName.toLowerCase() === "h2") {
                if (!flag) {
                    menu += "<ul>"
                    flag = true
                }
                menu += "<li><a style=\"font-size: .83em; font-weight: bolder\" href=\"#" + ele.id + "\">"
                menu += ele.innerText
                menu += "</a></li>"
            }
        }

        if (flag) {
            menu += "</ul>"
        }
        menu += "</ul>"
        document.getElementById("indices").innerHTML = menu
    }

    document.addEventListener("DOMContentLoaded", function(){
        init_list()
    });


</script>

