<script>
    document.getElementsByClassName("project-name").item(0).innerText = "{{ page.title }}";
    document.getElementsByClassName("project-tagline").item(0).innerText = "{{ page.description }}";
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
  MathJax = {
    tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
  };
</script>
<button onclick="window.location.href=window.location.href.substring(0, window.location.href.lastIndexOf('/'));">&lt; Back</button>
